.research-toolbar {
  border-top: 1px solid lightgrey;
  background: #EEE;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.2em;
  padding: 0.7em;
}

.field {
  display: inline-block;
  margin-right: 1em;
}

.field label {
  margin-right: 0.7em;
  max-width: 15em;
  display: inline-block;
  vertical-align: top;
}

.field input {
  width: 3em;
}

body {
  padding-bottom: 5em;
}
