.back {
  display: inline-block; }
  .back:before {
    content: '←';
    display: inline-block;
    vertical-align: middle; }

button.back:before,
.button.back:before {
  padding-right: 0.5em;
  font-weight: normal;
  line-height: 1.6em; }

a.back:not(.button) {
  margin-left: 1em;
  margin-bottom: 1em; }
  a.back:not(.button):before {
    position: absolute;
    margin-left: -1.5em;
    font-size: 0.6em;
    vertical-align: middle;
    line-height: 2.8em; }
