$gov-ui-kit-image-base-url: "https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/img/";
@import "gov-au-ui-kit/assets/sass/ui-kit";

/*
 * Overrides to UI-KIT **that are not specific to a component** should live in here
 */

/* Fix padding bug caused by nesting header under main */
body > main {
  padding: 0; }

/* Typography */
h2,
h3 {
  margin-top: 0; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
